<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669391209154-gonu3ksi7qnud82og28o3iuabtmec6e2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669391209154-gonu3ksi7qnud82og28o3iuabtmec6e2</string>
	<key>API_KEY</key>
	<string>AIzaSyBM5mY8nR6cmk4u699szDEkMuy7xE_a2eY</string>
	<key>GCM_SENDER_ID</key>
	<string>669391209154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-54954</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-54954.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669391209154:ios:c86d868868050e0daff15b</string>
</dict>
</plist>